/* pages/placeMeun/placeMeun.wxss */

.meun_back{
  
  .back_top{
    position: relative;
    image{
      width: 100%;
      height: 300rpx;
    }
// 标题
    .munt_title_back{
      .meun_title{
        width: 90%;
        padding: 20rpx;
        box-sizing: border-box;
        background-color: white;
        border-radius: 20rpx;
        position: absolute;
        top: 160rpx;
        left: 36rpx;

        .meun_title_top{
          display: flex;
          justify-content: space-between;

          .title_top_left{

            .top_food{
              font-size: 42rpx;
              font-weight: bold;
            }
            .top_left_text{
              font-size: 28rpx;
              text:nth-child(2){
                margin-left: 20rpx;
              }
            }
          }
          .title_top_right{

            image{
              width: 80rpx;
              height: 80rpx;
            }
          }

         

        }

         .meun_title_butt{
          color: #666;
          font-size: 24rpx;
          margin: 6rpx 0;
        }

      }


    }
   
  }

  // 导航栏
  .main_top_fen{

    width: 100%;
    // 当用户下拉至底部时 将导航栏固定在上方
    .fiexed{ 
      position:fixed;
      top: 0;
    }

    .main_top{
      width: 100%;
      margin-top: 36rpx;
      padding: 20rpx;
      box-sizing: border-box;
      background-color: #eaeaee;
      display: flex;
      justify-content: flex-start;
    

      .main_top_item{
        margin-left: 20rpx;
       
      }
      .active{
        background-color: skyblue;
        width: 70rpx;
        border-radius: 10rpx;
      }
      .main_top_item2{
       margin-left: 80rpx;
      }
      .main_top_item3{
        margin-left: 80rpx;
      }

    }

  }
  // 点餐

    .scroll_main{
      width: 100%;
      display: flex;
      justify-content:flex-start;
     
      flex: .2;
    }
    .scroll_y{
      width: 180rpx;
     height: 700rpx;
  
    .scroll_main_left{
      padding: 20rpx;
      height: 1000rpx;
      display: flex;
      flex-direction: column;
      background-color: #eaeaee;
     
        .main_left_muen{
        height: 80rpx;
        width: 140rpx;
        background-color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
       
    

      }
      .active{
        background-color: skyblue;
      }
    }
  }
  .scroll_y2{
    width: 100%;
    height:600rpx ;
  
    .scroll_main_right{
      height: 900rpx;
      display: flex;
      flex-direction: column;
      padding: 20rpx;
      box-sizing: border-box;

      .main_right_conter{

        .in_like_list{
          display: flex;
          flex-direction: column;
          .like_list_text{
            margin-left: 20rpx;
          }

          .like_list_item{
            margin: 20rpx;
            display: flex;
            flex-direction: row;
            flex: .2; 
  
            .list_item_left{
             
              image{
                border-radius: 20rpx;
                width: 180rpx;
                height: 180rpx;
              }
            }
  
            .like_item_right{
              width: 100%;
              margin-left: 20rpx;
  
              .right_head{
                display: flex;
                justify-content: space-between;
                .right_head_text{
                  font-size: 36rpx;
                  font-weight: bold;
                }
                .van-icon-ellipsis{
                  font-size: 36rpx;
                  color: var(--color999);
                }
              }
              .right_start{
                display: flex;
                justify-content: flex-start;
  
                .start1{
                  font-size: 32rpx;
                  color: orange;
                }
                .start2{
                  margin-left: 20rpx;
                  color:var(--color6);
                }
              }
              .right_text_yan{
              
                background-color: orange;
                padding: 8rpx;
                box-sizing: border-box;
                border-radius: 10rpx;
              }
              .right_you{
                display: flex;
                justify-content: space-between;
                .van-icon{
                  margin-top: 6rpx;
                  width: 40rpx;
                  height: 40rpx;
                  border-radius: 50%;
                  background-color: skyblue;
                  font-size: 40rpx;
                  color: white;

                }
              }
  
            }
           
          }
  
        } 


      }
    }

  }

}